### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OSX ###
.DS_Store

### APP ###

backend/outdated/tickets_service/target/*
!backend/outdated/tickets_service/target/tickets_service.war

backend/outdated/booking_service/target/*
!backend/outdated/booking_service/target/booking_service.war

frontend/node_modules