.list {
  display: grid;
  background-color: #766bbe;
  gap: 20px;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;

  img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
  }

  .imageAndInfo {
    display: flex;
    gap: 40px;
    width: 300px;
  }
}
