.form {
  display: grid;
  width: 360px;
  justify-items: center;

  div {
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    border: 0px;
    color: black;
  }
  /* button{
        width: 50px;
    } */
}
