openapi: '3.0.3'

info:
  title: 'Ticket API'
  description: 'Description'
  version: '1.0'

servers:
  - url: 'http://api.tickets.com/1.0/booking/sell'

paths:
  /{ticket-id}/{person-id}/{price}:
    post:
      tags:
        - 'Tag1'
      summary: 'Продать билет'
      description: 'Продать определенный билет кому-то за какую-то цену'
      operationId: 'OpID10'
      security:
        - token: []
      parameters:
        - name: ticket-id
          in: path
          schema: 
            description: 'Айди тикетика'
            type: integer
            format: int64
            nullable: false
            example: 11
            minimum: 1
            maximum: 9223372036854775807
          required: true
        - name: person-id
          in: path
          schema: 
             description: 'Айди челика'
             type: integer
             format: int64
             nullable: false
             example: 11
             minimum: 0
             exclusiveMinimum: true
             maximum: 9223372036854775807
          required: true
        - name: price
          in: path
          schema: 
            description: 'Цена билета'
            type: number
            format: double
            nullable: false
            example: 3.1415
            minimum: 0
            exclusiveMinimum: true
            maximum: 1.7976931348623157E308
          required: true
      responses:
        '200':
          description: 'Ticket successfully sold'
        '404':
          description: 'Invalid path parameters'
        '500':
          description: 'Internal server error'
        default:
          description: 'Returns error code, message and time in case of error'


  /discount/{ticket-id}/{person-id}/{discount}:
    post:
      tags:
        - 'Tag1'
      summary: 'Продать билет со скидкой'
      description: 'Создать билет на основе указанного и продать его определенному человеку с указанной в % скидкой'
      operationId: 'OpID11'
      security:
        - token: []
      parameters:
         - name: ticket-id
           in: path
           schema: 
              description: 'Айди тикетика'
              type: integer
              format: int64
              nullable: false
              example: 11
              minimum: 1
              maximum: 9223372036854775807
           required: true
         - name: person-id
           in: path
           schema: 
             description: 'Айди челика'
             type: integer
             format: int64
             nullable: false
             example: 11
             minimum: 0
             exclusiveMinimum: true
             maximum: 9223372036854775807
             required: true
         - name: discount
           in: path
           schema: 
              description: 'Цена билета'
              type: number
              format: int64
              nullable: false
              example: 15
              minimum: 0
              exclusiveMinimum: true
              maximum: 100
           required: true
      responses:
        '200':
          description: 'Ticket successfully sold'
          content:
            application/xml:
              schema:
                $ref: './ticket-service-openapi.yml#/components/schemas/TicketResponse'
        '404':
          description: 'Invalid path parameters'
        '418':
          description: 'Discount time out'
        '500':
          description: 'Internal server error'
        default:
          description: 'Returns error code, message and time in case of error'
