openapi: '3.0.3'

info:
  title: 'Ticket API'
  description: 'Description'
  version: '1.0'

servers:
  - url: 'http://api.tickets.com/1.0/'

paths:

  /tickets:
    get:
      responses:
        default:
          $ref: '#components/schemas/Coordinates'
      tags:
        - 'Tag'
      summary: 'Получить тикеты'
      description: 'Получаем все билеты'
      operationId: 'OpID2'

    post:
      summary: 'Создать тикет'
      description: 'Создаем билетикуса'
      operationId: 'OpID1'
      tags:
        - 'Tag'
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Ticket'
      responses:
        default:
          description: 'Default response'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/TicketResponse'


  /tickets/{id}:
    get:
      tags:
        - 'Tag1'
      summary: 'Получить тикет по айди'
      description: 'Получаем билетик по айдишечке'
      operationId: 'OpID3'
    put:
      tags:
        - 'Tag1'
      summary: 'Обновить тикет по айди'
      description: 'Обновляем билетик по айдишечке'
      operationId: 'OpID4'
    delete:
      tags:
        - 'Tag1'
      summary: 'Удалить тикет по айди'
      description: 'Удаляем билетик по айдишечке'
      operationId: 'OpID5'

  /tickets/price-sum:
    get:
      tags:
        - 'Tag2'
      summary: 'Получить сумму всех билетов'
      description: 'Получаем мани в наши кармани'
      operationId: 'OpID6'

  /tickets/venue-min:
    get:
      tags:
        - 'Tag3'
      summary: 'Получить минимум по Venue'
      description: 'Получаем мини по веню'
      operationId: 'OpID7'

  /tickets/venue-unique:
    get:
      tags:
        - 'Tag3'
      summary: 'Получить уникальные Venue'
      description: 'Получаем уники венюшек'
      operationId: 'OpID8'

components:
  schemas:
    Address:
      title: 'Address'
      type: object
      properties:
        zipCode:
          description: 'Зип кодик'
          type: string
          nullable: false
          example: '33701-4313'
          minLength: 10
          maxLength: 2147483647

    Coordinates:
      title: 'Coordinates'
      type: object
      properties:
        x:
          description: 'Иксовая координата'
          type: number
          format: double
          nullable: false
          example: 3.1415
          minimum: 4.9E-324
          maximum: 1.7976931348623157E308
        y:
          description: 'Игрековая координата'
          type: number
          format: float
          nullable: false
          example: 2.718
          minimum: 1.4E-45
          maximum: 3.4028235E38

    TicketType:
      title: 'TicketType'
      description: 'Тип тикета без null!'
      type: string
      enum:
        - VIP
        - BUDGETARY
        - CHEAP
      nullable: false
      example: VIP
      default: CHEAP

    VenueType:
      title: 'VenueType'
      description: 'Тип места встречи без null!'
      type: string
      enum:
        - BAR
        - CINEMA
        - STADIUM
      nullable: false
      example: BAR
      default: STADIUM

    Venue:
      title: 'Venue'
      type: object
      properties:
        name:
          description: 'NAME'
          type: string
          nullable: false
          example: 'Venue name'
          minLength: 1
          maxLength: 2147483647
        capacity:
          description: 'Капасити венюшечки'
          type: integer
          format: int64
          nullable: false
          example: 5000
          minimum: 0
          exclusiveMinimum: true
          maximum: 9223372036854775807
        type:
          $ref: '#/components/schemas/VenueType'
        address:
          $ref: '#/components/schemas/Address'

    Ticket:
      title: 'Ticket'
      type: object
      properties:
        name:
          description: 'Ticket name'
          type: string
          nullable: false
          example: 'Ticket name'
          minLength: 1
          maxLength: 2147483647
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        price:
          description: 'Цена билета'
          type: number
          format: double
          nullable: false
          example: 312.2003
          minimum: 0
          exclusiveMinimum: true
          maximum: 1.7976931348623157E308
        type:
          $ref: '#/components/schemas/TicketType'
        venue:
          anyOf:
            - $ref: '#/components/schemas/VenueResponse'
            - type: 'null'

    VenueResponse:
      title: 'VenueResponse'
      allOf:
        - type: object
          properties:
            id:
              description: 'Айди венюшечки'
              type: integer
              format: int32
              nullable: false
              example: 17
              minimum: 0
              exclusiveMinimum: true
              maximum: 2147483647
        - $ref: '#/components/schemas/Venue'

    TicketResponse:
      title: 'TicketResponse'
      allOf:
        - type: object
          properties:
            id:
              description: 'Айди тикетика'
              type: integer
              format: int64
              nullable: false
              example: 11
              minimum: 0
              exclusiveMinimum: true
              maximum: 9223372036854775807
        - type: object
          properties:
            creationDate:
              description: 'Ticket creation date'
              type: string
              format: date-time
              nullable: false
              example: '2024-09-13T19:57:43.961423'
        - type: object
          properties:
            is_sold:
              description: 'Билет продан'
              type: boolean
              nullable: false
              default: false
              example: true
        - $ref: '#/components/schemas/Ticket'

    Person:
      title: 'Person'
      type: object
      properties:
        username:
          description: 'Person name'
          type: string
          nullable: false
          example: 'maxim_2003'
          minLength: 1
          maxLength: 64
        password:
          description: 'Person password'
          type: string
          format: password
          nullable: false
          example: 'qwerty'
          minLength: 1
          maxLength: 64

    PersonResponse:
      allOf:
        - type: object
          properties:
            id:
              description: 'Айди челика'
              type: integer
              format: int64
              nullable: false
              example: 11
              minimum: 0
              exclusiveMinimum: true
              maximum: 9223372036854775807
        - $ref: '#/components/schemas/Person'
        - type: object
          properties:
            balance:
              description: 'Баланс челика'
              type: number
              format: double
              nullable: false
              example: 23.08
              default: 0.0
              minimum: 0.0
              maximum: 1.7976931348623157E308
        - type: object
          properties:
            tickets:
              description: 'Купленные билеты'
              type: array
              items:
                $ref: '#/components/schemas/TicketResponse'

  securitySchemes:
    token:
      type: apiKey
      description: 'Токенчик'
      name: 'Token'
      in: header


#    ErrorModel:
#      type: object
#      required:
#        - message
#        - code
#      properties:
#        message:
#          type: string
#        code:
#          type: integer
#          minimum: 100
#          maximum: 600

security:
  - token: []

#tags: 'TBD'
#
#externalDocsL: 'TBD'
