openapi: '3.0.3'

info:
  title: 'Ticket API'
  description: 'Description'
  version: '1.0'

servers:
  - url: 'http://api.tickets.com/1.0/'

paths:

  /tickets:
    get:
      summary: 'Get tickets'
      description: 'Get all tickets'
      operationId: 'getTickets'
      tags:
        - 'Tickets'
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: number
            format: int64
            minimum: 0
        - in: query
          name: pageSize
          required: false
          schema:
            type: number
            format: int64
            default: 10
            minimum: 1
        - in: query
          name: filter
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - coordinates.x
                - coordinates.y
                - creationDate
                - price
                - type
                - venue.id
                - venue.name
                - venue.capacity
                - venue.type
                - venue.address.zipcode
                - -id
                - -name
                - -coordinates.x
                - -coordinates.y
                - -creationDate
                - -price
                - -type
                - -venue.id
                - -venue.name
                - -venue.capacity
                - -venue.type
                - -venue.address.zipcode
        - in: query
          name: sort
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - name
                - coordinates.x
                - coordinates.y
                - creationDate
                - price
                - type
                - venue.id
                - venue.name
                - venue.capacity
                - venue.type
                - venue.address.zipcode
                - -id
                - -name
                - -coordinates.x
                - -coordinates.y
                - -creationDate
                - -price
                - -type
                - -venue.id
                - -venue.name
                - -venue.capacity
                - -venue.type
                - -venue.address.zipcode
      security:
        - token: []
      responses:
        '200':
          description: 'Description of response'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/TicketResponseArray'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example:  'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'

    post:
      summary: 'Create ticket'
      description: 'Create ticket'
      operationId: 'OpID1'
      tags:
        - 'Tickets'
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Ticket'
      security:
        - token: []
      responses:
        '200':
          description: 'Description of response'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '405':
          description: 'Validation exception'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Validation exception'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'


  /tickets/{id}:
    get:
      tags:
        - 'Tickets'
      summary: 'Get ticket by id'
      description: 'Get ticket by id'
      operationId: 'OpID3'
      security:
        - token: []
      parameters:
        - name: id
          in: path
          schema:
            description: 'Id of ticket'
            type: integer
            format: int64
            nullable: false
            example: 11
            minimum: 1
            maximum: 9223372036854775807
          required: true
      responses:
        '200':
          description: 'Response description'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'


    put:
      tags:
        - 'Tickets'
      summary: 'Update ticket by id'
      description: 'Update ticket by id'
      operationId: 'OpID4'
      security:
        - token: []
      parameters:
        - name: id
          in: path
          schema:
            description: 'Ticket id'
            type: integer
            format: int64
            nullable: false
            example: 11
            minimum: 1
            maximum: 9223372036854775807
          required: true
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Ticket'
      responses:
        '200':
          description: 'Response description'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'


    delete:
      tags:
        - 'Tickets'
      summary: 'Delete ticket by id'
      description: 'Delete ticket by id'
      operationId: 'OpID5'
      security:
        - token: []
      parameters:
        - name: id
          in: path
          schema:
            description: 'Ticket id'
            type: integer
            format: int64
            nullable: false
            example: 11
            minimum: 1
            maximum: 9223372036854775807
          required: true
      responses:
        '204':
          description: 'Response description about success delete'
          content:
            application/xml:
              schema:
                xml:
                  name: 'success'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 204
                  message:
                    type: string
                    example: 'Ticket with id=1 successfully deleted!!!'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'

  /tickets/price-sum:
    get:
      tags:
        - 'Tickets Util'
      summary: 'Get sum of all tickets'
      description: 'Get sum of all tickets'
      operationId: 'OpID6'
      security:
        - token: []
      responses:
        '200':
          description: 'Response description что вот держите сумму'
          content:
            application/xml:
              schema:
                xml:
                  name: 'sum'
                type: number
                format: double
                nullable: false
                example: 666.666
                minimum: 0.0
                maximum: 1.7976931348623157E308
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'


  /tickets/venue-min:
    get:
      tags:
        - 'Tickets Util'
      summary: 'Get minimum of Venue'
      description: 'Get minimum of Venue'
      operationId: 'OpID7'
      security:
        - token: []
      responses:
        '200':
          description: 'Response description'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/TicketResponse'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'

  /tickets/venue/unique:
    get:
      tags:
        - 'Tickets Util'
      summary: 'Get unique Venue'
      description: Get unique Venue'
      operationId: 'OpID8'
      security:
        - token: []
      responses:
        '200':
          description: 'Response description'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VenueResponseArray'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'

  /persons:
    get:
      tags:
        - 'Persons'
      summary: 'Get all persons'
      description: 'Get all persons'
      operationId: 'OpID111'
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: number
            format: int64
            minimum: 0
        - in: query
          name: pageSize
          required: false
          schema:
            type: number
            format: int64
            default: 10
            minimum: 1
        - in: query
          name: filter
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - username
                - balance
        - in: query
          name: sort
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - id
                - username
                - balance
      security:
        - token: []
      responses:
        '200':
          description: 'Response description'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonResponseArray'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '401':
          description: 'Not authorized!'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'

    post:
      tags:
        - 'Persons'
      summary: 'Create person'
      description: 'Create person'
      operationId: 'OpID112'
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Person'
      responses:
        '200':
          description: 'Response description'
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PersonResponse'
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '405':
          description: 'Validation exception'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Validation error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'

  /persons/login:
    post:
      tags:
        - 'Persons'
      summary: 'Get access token'
      description: 'Get access token'
      operationId: 'OpID114'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Person'
      responses:
        '200':
          description: 'Response description'
          content:
            application/xml:
              schema:
                xml:
                  name: 'token'
                title: 'TokenResponse'
                description: 'Token'
                type: string
                nullable: false
                example: 'fd4698c940c6d1da602a70ac34f0b147'
                minLength: 32
                maxLength: 512
        '400':
          description: 'Invalid request'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Invalid request'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '405':
          description: 'Validation exception'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 400
                  message:
                    type: string
                    example: 'Validation error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        '500':
          description: 'Internal server error'
          content:
            application/xml:
              schema:
                xml:
                  name: 'error'
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                    example: 500
                  message:
                    type: string
                    example: 'Internal server error'
                  time:
                    type: string
                    format: date-time
                    example: '2024-09-13T19:57:43.961423'
        default:
          description: Returns error code, message and time in case of error
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorModel'



components:
  schemas:
    Address:
      title: 'Address'
      type: object
      properties:
        zipCode:
          description: 'Zip code'
          type: string
          nullable: false
          example: '33701-4313'
          minLength: 10
          maxLength: 2147483647

    Coordinates:
      title: 'Coordinates'
      type: object
      properties:
        x:
          description: 'X coordinate'
          type: number
          format: double
          nullable: false
          example: 3.1415
          minimum: 4.9E-324
          maximum: 1.7976931348623157E308
        y:
          description: 'Y coordinate'
          type: number
          format: float
          nullable: false
          example: 2.718
          minimum: 1.4E-45
          maximum: 3.4028235E38

    TicketType:
      title: 'TicketType'
      description: 'TicketType without null!'
      type: string
      enum:
        - VIP
        - BUDGETARY
        - CHEAP
      nullable: false
      example: VIP
      default: CHEAP

    VenueType:
      title: 'VenueType'
      description: 'VenueType without null!'
      type: string
      enum:
        - BAR
        - CINEMA
        - STADIUM
      nullable: false
      example: BAR
      default: STADIUM

    Venue:
      title: 'Venue'
      type: object
      properties:
        name:
          description: 'NAME'
          type: string
          nullable: false
          example: 'Venue name'
          minLength: 1
          maxLength: 2147483647
        capacity:
          description: 'Capacity of venue'
          type: integer
          format: int64
          nullable: false
          example: 5000
          minimum: 0
          exclusiveMinimum: true
          maximum: 9223372036854775807
        type:
          $ref: '#/components/schemas/VenueType'
        address:
          $ref: '#/components/schemas/Address'

    VenueResponse:
      title: 'VenueResponse'
      allOf:
        - type: object
          properties:
            id:
              description: 'Venue id'
              type: integer
              format: int32
              nullable: false
              example: 17
              minimum: 0
              exclusiveMinimum: true
              maximum: 2147483647
        - $ref: '#/components/schemas/Venue'

    Ticket:
      title: 'Ticket'
      type: object
      properties:
        name:
          description: 'Ticket name'
          type: string
          nullable: false
          example: 'Ticket name'
          minLength: 1
          maxLength: 2147483647
        coordinates:
          $ref: '#/components/schemas/Coordinates'
        price:
          description: 'Price of ticket'
          type: number
          format: double
          nullable: false
          example: 312.2003
          minimum: 0
          exclusiveMinimum: true
          maximum: 1.7976931348623157E308
        type:
          $ref: '#/components/schemas/TicketType'
        venue:
          anyOf:
            - $ref: '#/components/schemas/VenueResponse'
            - type: 'null'

    TicketResponse:
      title: 'TicketResponse'
      allOf:
        - type: object
          properties:
            id:
              description: 'Ticket id'
              type: integer
              format: int64
              nullable: false
              example: 11
              minimum: 0
              exclusiveMinimum: true
              maximum: 9223372036854775807
        - type: object
          properties:
            creationDate:
              description: 'Ticket creation date'
              type: string
              format: date-time
              nullable: false
              example: '2024-09-13T19:57:43.961423'
        - type: object
          properties:
            is_sold:
              description: 'Ticket is sold'
              type: boolean
              nullable: false
              default: false
              example: true
        - $ref: '#/components/schemas/Ticket'

    Person:
      title: 'Person'
      type: object
      properties:
        username:
          description: 'Person name'
          type: string
          nullable: false
          example: 'maxim_2003'
          minLength: 1
          maxLength: 64
        password:
          description: 'Person password'
          type: string
          format: password
          nullable: false
          example: 'qwerty'
          minLength: 1
          maxLength: 64

    PersonResponse:
      allOf:
        - type: object
          properties:
            id:
              description: 'Person id'
              type: integer
              format: int64
              nullable: false
              example: 11
              minimum: 0
              exclusiveMinimum: true
              maximum: 9223372036854775807
        - $ref: '#/components/schemas/Person'
        - type: object
          properties:
            balance:
              description: 'Balance of person'
              type: number
              format: double
              nullable: false
              example: 23.08
              default: 0.0
              minimum: 0.0
              maximum: 1.7976931348623157E308
        - type: object
          properties:
            tickets:
              description: 'Bought tickets'
              type: array
              items:
                $ref: '#/components/schemas/TicketResponseArray'

    TicketResponseArray:
      title: 'Tickets'
      type: object
      properties:
        ticket:
          title: 'Array of tickets'
          type: array
          items:
            $ref: '#/components/schemas/TicketResponse'

    VenueResponseArray:
      title: 'Venues'
      type: object
      properties:
        venue:
          title: 'Array of venues'
          type: array
          items:
            $ref: '#/components/schemas/VenueResponse'

    PersonResponseArray:
      title: 'Persons'
      type: object
      properties:
        persons:
          title: 'Array of persons'
          type: array
          items:
            $ref: '#/components/schemas/PersonResponse'

    ErrorModel:
      type: object
      xml:
        name: 'error'
      required:
        - code
        - message
        - time
      properties:
        code:
          type: integer
          format: int32
          example: 418
        message:
          type: string
          example: 'I am teapot'
        time:
          type: string
          format: date-time
          example: '2024-09-13T19:57:43.961423'

    UnauthorizedError:
      type: object
      xml:
        name: 'error'
      required:
        - code
        - message
        - time
      properties:
        code:
          type: integer
          format: int32
          example: 401
        message:
          type: string
          example: 'Not authorized!'
        time:
          type: string
          format: date-time
          example: '2024-09-13T19:57:43.961423'

  securitySchemes:
    token:
      type: apiKey
      description: 'Token'
      name: 'Token'
      in: header

#tags: 'TBD'
#
#externalDocsL: 'TBD'